*{   
    margin: 0;
    padding: 0;
}

body {
    font-family:  Helvetica Neue, Helvetica, Arial, sans-serif, 'Comic Sans MS', cursive, sans-serif;
}

header{
    background-color: red;
    height: 100px;
    padding: 15px 20px;
    margin: 2px;
    display: flex;
    justify-content: space-between;
    
}

nav {
    background: rgb(15, 106, 175);
    height: 100%;
    width: 100%;
    display: flex;
    
}

 .logo a {
    background-image: url(/imagens/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    width: 150px;
    height: 120px;
    position: relative; /*altered by top*/
    top: -10px;
    text-indent: -9999999px;
    
} 

nav ul {
    background-color: blanchedalmond;
    float: right;
    margin: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}